body {
    padding-top: 5%;
}

/* below are the styles for the nav bar */
nav {
    background-color: #AC92A6;
    color: white;
    margin: 0;
    padding: 2%;
}

.navbar-brand, .nav-link {
    color: white;
}

.navbar-nav {
    justify-content: space-between; 
    width: 100%;
}

.nav-item {
    width: 20%;
    text-align: center; 
}

.navbar-brand:hover {
    color: white;
}

button {
    background-color: #AC92A6;
    border: #AC92A6;
    color: white;
    margin: 2%;
}

/* below are the styles for the contents of publications page */
h3 {
    text-align: center;
    border: 1px solid #000;
    padding: 2%;
    margin-bottom: 2%;
}

.publication {
    border: 1px solid #000;
    padding: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.publication img {
    max-width: 100%;
    border: 1px solid #000; 
}

.publication_title {
    padding: 1%;
    margin-top: 2%;
    text-align: center;
}

h6 {
    border: 1px solid #000; 
    padding: 1%;
}

p {
    border: 1px solid #000;
    padding: 1%;
}

/* below are the styles for the footer */
footer {
    background-color:#AC92A6;
    padding: 1%;
    display: flex; 
    justify-content: space-between; 
}

.back-to-top {
    text-decoration: none;
    color: white;
}

.contact {
    text-decoration: none;
    color: white;
}

.back-to-top:hover, .contact:hover {
    color: black;
}

/* responsive design for mobile view */
@media (max-width: 768px) {
    body {
        padding-top: 15%;
    }

    .nav-item {
        text-align: left;
    }
}

